<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>The Reader</title>
</head>
<body>
<h1>Home</h1>
<form action="{% url "make_mp3_file" %}" method="POST">
  {% csrf_token %}
  <div>
    <label for="">성별</label>
    <select name="speaker">
        <option value="mijin" {% if not speaker or speaker == "mijin" %}selected="selected"{% endif %}>여자</option>
      <option value="jinho" {% if speaker == "jinho" %}selected="selected"{% endif %}>남자</option>
    </select>
  </div>
  <div>
    <label for="">속도</label>
    <select name="speed">
      <option value="5" {% if speed == "5" %}selected="selected"{% endif %}>느리게</option>
      <option value="2.5" {% if speed == "2.5" %}selected="selected"{% endif %}>조금 느리게</option>
      <option value="0" {% if not speed or speed == "0" %}selected="selected"{% endif %}>보통</option>
      <option value="-2.5" {% if speed == "-2.5" %}selected="selected"{% endif %}>조금 빠르게</option>
      <option value="-5" {% if speed == "-5" %}selected="selected"{% endif %}>빠르게</option>
    </select>
  <div>
  <div>
    <textarea name="text" cols="30" rows="10" placeholder="텍스트를 입력하세요" required>{{ text }}</textarea>
    <input type="submit" value="음성으로 변환">
  <div>
</form>
{% if filename %}
<audio controls autoplay>
  <source src="/media/{{ filename }}" type="audio/mpeg">
</audio>
{% endif %}
</body>
</html>
